--- 
layout: "layouts/base.njk" 
title: "Projects"
pagination: 
    data: collections.projects
    size: 3
rootPath: "../../"
---
<section class="contrast">

    <h2>What I've been working on</h2>
    <div class="cards">
        {%- for project in pagination.items%}
            {% include "layouts/project-card.html"  %}
        {% endfor -%}
        {% if pagination.href.next %}
            <a class="button" href="{{pagination.href.next}}">Next</a>
        {% endif %}
    </div>
</section>