--- 
layout: "layouts/base.njk"
---

<section>
    <article>
        <header>
            <a href="#">
                <h1>{{title}}</h1>
            </a>
            <span>
                <time datetime="{{date}}">{{date | postDate}}</time>
            </span>
        </header>
        {{content | safe}}
    </article>
</section>