<div class="card">
    <div class="content split">
        <div class="information">
            <img src="../../{{project.data.image}}"/>
            <div class="section">
                <h4>Languages:</h4>
                <p>{{project.data.languages}}</p>
            </div>
            <div class="section">
                <h4>Technologies:</h4>
                <p>{{project.data.technologies}}</p>
            </div>
        </div>
        <div>
            <h3>{{project.data.title}}</h3>
            <p>{% excerpt project %}</p>
        </div>

    </div>
</div>