---
layout: "layouts/base.njk"
---
<section class="split">
    <article>
        <header>
            <a href="#">
                <h1>{{title}}</h1>
            </a>
            <span>
                <time datetime="{{date}}">{{date | postDate}}</time>
            </span>
        </header>
        {{content | safe}}
    </article>
    <div class="card info">

        <b>Languages:</b>
        <ul class="inline-list">
            {% for language in languages %}
            <li class="pill dark">{{language}}</li>
            {% endfor %}
        </ul>
        <b>Technologies:</b>
        <ul class="inline-list">
            {% for technology in technologies %}
            <li class="pill dark">{{technology}}</li>
            {% endfor %}
        </ul>
        <a href="{{url}}" style="font-weight:bold;">Link</a>
    </div>
</section>